.card {
  background-color: #131214 !important;
  box-shadow: rgba(215, 106, 255, 0.2) 0px 4px 12px !important;   
  padding: 20px;
  border-radius: 26px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  border: 1px solid white !important;

  }


.menuItem,
.activeMenuItem {
  /* border: 2px solid; */
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: white !important;
  transition: all 0.3s ease;
  border-radius: 30px;
}

.menuItem {
  /* border-color: #c24dd0; */
  background: rgba(194, 77, 208, 0.1);
}

.menuItem:hover {
  background: rgba(194, 77, 208, 0.3);
}

.activeMenuItem {
  /* border-color: transparent; */
  background-image: linear-gradient(100deg, #0d0c0e, #7a72fa, #0d0c0e);
}

.logOut {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  background-image: linear-gradient(150deg, #c24dd0, #ff005d);
  border: 2px solid #c24dd0;
  border-radius: 30px;
  padding: 10px;
  margin-top: 15px;
  transition: all 0.3s ease;
}

.logOut:hover {
  background-image: linear-gradient(100deg, #0d0c0e, #7a72fa, #0d0c0e);
}
