@import "tailwindcss";

body{
 
   --webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif !important;

    background: linear-gradient(135deg, #1a0b19, #150d2d, #162134 ) !important;
    color: #ffffff !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden !important;
    width: 100% !important;
    
}
code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card{
  background-color: #0c071b;
  box-shadow: rgba(215, 106, 255, 0.507) 0px 0px 20px;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;

}

.techStack{
    color: purple;
    border: 1px solid purple;
    margin-top: 10px;
    border-radius: 40px;
    font-weight: 530;
    padding: 0.5rem, 2rem;
    
}

.customBtn{
  background-image: linear-gradient(150deg,#c24dd0, #7a72fa);
  color: white !important;
}




/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

